<?xml version="1.0"?>
<!--
/**
 * Atwix
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.

 * @category    Atwix Mod
 * @package     Atwix_AcceptanceHelper
 * @author      Atwix Core Team
 * @copyright   Copyright (c) 2016 Atwix (http://www.atwix.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */-->
<config>
    <modules>
        <Atwix_AcceptanceHelper>
            <version>0.0.1</version>
        </Atwix_AcceptanceHelper>
    </modules>
    <global>
        <helpers>
            <atwix_acceptancehelper>
                <class>Atwix_AcceptanceHelper_Helper</class>
            </atwix_acceptancehelper>
        </helpers>
    </global>
    <frontend>
        <routers>
            <atwix_acceptancehelper>
                <use>standard</use>
                <args>
                    <module>Atwix_AcceptanceHelper</module>
                    <frontName>acceptancehelper</frontName>
                </args>
            </atwix_acceptancehelper>
        </routers>
    </frontend>
</config>